<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('PROC')" data-ng-class="{active: currency.symbol == 'PROC'}">PROC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mPROC')" data-ng-class="{active: currency.symbol == 'mPROC'}">mPROC</a>
  </li> 
  <li>
  <a href="#" data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

